*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #222;
}

.contact .contact{
    max-width: 800px;
    text-align: center;
}

.contact.contact h2{
    font-size: 3em;
    color: #111;
    font-weight: 500;

}

.contact.contact p{
    color: #fff;
    font-size: 2.1em;
    font-weight: 300;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}
.container .contactinfo{
    width: 50px;
    display: flex;
    flex-direction: column;
}